/* ------------------------------------------------------------------------
	Content redefinition
------------------------------------------------------------------------- */   

	html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{  
		margin:0;  
		padding:0;  
		-webkit-text-size-adjust:none;  
	}  

	body{
		background: #fff;
		color: #000;
		font: 62.5%/1.2 Helvetica, Verdana, Sans-serif;
		height: 100%;
	}

	ul, li, ol, dl, dd, dt{  
		list-style:none;  
		padding:0;  
		margin:0;  
	}  

	a { text-decoration:none; }
	

/* ------------------------------------------------------------------------
	Layout
------------------------------------------------------------------------- */

	.pm_in-viewport p,
	.pm_out-of-viewport p {
		font-size: 1.2em;
		margin: 0 0 0 15px;
	}



/* ------------------------------------------------------------------------
	Header
------------------------------------------------------------------------- */

	#pm_header {
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(178, 182, 202)), to(rgb(114, 132, 156)));
		border-top: 1px #737d87 solid;
		border-bottom: 1px #2a374a solid;
		color: #fff;
		display: block;
		line-height: 42px;
		text-align: center;
		text-shadow: #5b6870 -1px -1px 1px;
		position: relative;
	}
	
		#pm_header h1 {
			font-size: 2em;
		}
	
		#pm_header .pm_back {
			background: -webkit-gradient(linear, 0% 46%, 0% 54%, from(#839ABA), to(#5676A1));
			border: 1px #3d4f67 solid;
			color: #fff;
			display: none;
			font-size: 1.2em;
			left: 5px;
			line-height: 1;
			margin-top: -14px;
			padding: 7px 10px;
			position: absolute;
			text-shadow: #5b6870 -1px -1px 1px;
			top: 50%;
			-webkit-border-radius: 5px;
			-webkit-box-shadow: #a7b5c7 0 1px 1px;
		}
		
		#pm_header .pm_back a { color: #fff; }


/* ------------------------------------------------------------------------
	Content
------------------------------------------------------------------------- */

	.pm_content-container {
		background: url(../images/prettyMobile/backgrounds/lined_background.gif) top left repeat;
		padding: 20px 10px;
		float: left;
		overflow: hidden !important;
		width: 300px;
	}
	
		.pm_landscape .pm_content-container { width: 460px; }
		
		.pm_content-container p {
			font-size: 1.2em;
			margin: 0 0 10px 0;
		}
		
	.pm_content {
		background: #fff;
		border: 1px #a9adb0 solid;
		clear: left;
		padding: 10px 10px 0 10px;
		-webkit-border-radius: 5px;
	}
	
		.pm_content h2,
		.pm_content h3,
		.pm_content h4,
		.pm_content h5,
		.pm_content h6 {
			margin: 0 0 10px 0;
		}
		
	.pm_previous,
	.pm_next {
		background: #fff;
		border: 1px #a9adb0 solid;
		color: #000;
		float: left;
		font-size: 1.1em;
		margin-top: 10px;
		padding: 10px;
		-webkit-border-radius: 5px;
	}
	
	.pm_next { float: right; }
	
	
/* ------------------------------------------------------------------------
	Forms
------------------------------------------------------------------------- */

	form {
		
		
	}

	form label {
		color: #4c566c;
		display: block;
		font-size: 1.4em;
		font-weight: bold;
		text-shadow: #e4e7eb 0 1px 1px;		
	}
	
	form input {
		border: 1px #aaacae solid;
		color: #666;
		font-size: 1.2em;
		margin: 5px 0 15px 0;
		padding: 7px 0;
		text-indent: 5px;
		width: 100%;
		-webkit-border-radius: 5px;
	}
	
	form input[type=checkbox] {
		width: 17px;
	}
	
	form input[type=submit] {
		background: -webkit-gradient(linear, 0% 44%, 0% 56%, from(rgb(106, 142, 218)), to(rgb(36, 99, 222)));
		border: 1px #3d4f67 solid;
		color: #fff;
		font-size: 1.2em;
		float: right;
		line-height: 1;
		padding: 5px 10px 7px 10px;
		text-indent: 0;
		text-shadow: #5b6870 -1px -1px 1px;
		width: auto;
		-webkit-border-radius: 5px;
		-webkit-box-shadow: #a7b5c7 0 1px 1px;
	}
	
	form input.cancel {
		background: -webkit-gradient(linear, 0% 44%, 0% 56%, from(rgb(221, 118, 121)), to(rgb(203, 42, 40)));
		border: 1px #3d4f67 solid;
		color: #fff;
		font-size: 1.2em;
		float: right;
		line-height: 1;
		padding: 5px 10px 7px 10px;
		margin-right: 10px;
		text-indent: 0;
		text-shadow: #5b6870 -1px -1px 1px;
		width: auto;
		-webkit-border-radius: 5px;
		-webkit-box-shadow: #a7b5c7 0 1px 1px;
	}


/* ------------------------------------------------------------------------
	iPhone styled lists
------------------------------------------------------------------------- */

	ul {
		list-style: none;
	}
	
		ul li {
			background: url(../images/prettyMobile/backgrounds/nav_arrow.gif) center right no-repeat;
			border-bottom: 1px #e0e0e0 solid;
			font-size: 2em;
		}
		
		ul li.pm_heading {
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5afb7), to(#bac2c8));
			border-bottom: 1px #a2a8ad solid;
			color: #fff;
			text-indent: 15px;
			text-shadow: #6a7076 0 1px 1px;
		}
		
			ul li a {
				color: #000;
				display: block;
				height: 100%;
				padding: 10px 0 10px 15px;
			}
	

/* ------------------------------------------------------------------------
	iPhone styled tabs
------------------------------------------------------------------------- */

	.tabs {
		margin: 0 auto 15px auto;
		display: table;
	}

	.tabs ul {
		border: 1px #434f5e solid;
		display: table-cell;
		-webkit-border-radius: 5px;
	}
	
		.tabs ul li {
			border: 0;
			border-right: 1px #546376 solid;
			float: left;
		}
		
		.tabs ul li.selected a {
			background: -webkit-gradient(linear, 0% 46%, 0% 54%, from(#839ABA), to(#5676A1));
		}
		
		.tabs ul li:last-child { border-right: 0; }
		
			.tabs ul li a {
				background: -webkit-gradient(linear, 0% 46%, 0% 54%, from(#A2B2C4), to(#768ba7));
				color: #fff;
				display: block;
				font-size: 0.6em;
				font-weight: bold;
				padding: 7px 15px;
				text-shadow: #5b6870 -1px -1px 1px;
			}
			
			.tabs ul li:first-child a {
				-webkit-border-top-left-radius: 3px;
				-webkit-border-bottom-left-radius: 3px;
			}
			
			.tabs ul li:last-child a {
				-webkit-border-top-right-radius: 3px;
				-webkit-border-bottom-right-radius: 3px;
			}


/* ------------------------------------------------------------------------
	iPhone styled gallery page
------------------------------------------------------------------------- */

	.pm_gallery {
		background: #000;
		text-align: center;
	}
	
	.pm_gallery_count {
		border-bottom: 1px #000 solid;
		color: #fff;
		font-size: 3em;
		line-height: 60px;
		position: absolute;
		text-shadow: #000 -1px -1px 1px;
		top: 0;
		width: 100%;
	}
	
		.pm_gallery_count span {
			position: relative;
			z-index: 1;
		}
	
		.pm_gallery_count div {
			background: -webkit-gradient(linear, 0% 49%, 0% 51%, from(#616161), to(#000000));
			border-bottom: 1px #000 solid;
			display: block;
			height: 100%;
			opacity: 0.6;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 0;
		}


/* ------------------------------------------------------------------------
	iPhone style contact page
------------------------------------------------------------------------- */

	.pm_contact h2 {
		color: #1e2535;
		text-shadow: #fff 0 1px 1px;
		
	}
	
	.pm_contact .pm_content {
		margin-bottom: 15px;
		padding: 0;
	}
	
		.pm_contact .pm_content p:last-child { border: 0; }
	
	.pm_contact p {
		border-bottom: 1px #aaaaaa solid;
		display: table;
		padding: 10px;
		margin: 0;
		width: 100%;
	}
	
	.pm_contact p strong {
		color: #55698c;
		display: table-cell;
		padding-right: 10px;
		text-align: right;
		width: 80px;
	}
	
	.pm_contact p span {
		display: table-cell;
	}

	.pm_thumbnail {
		border: 1px #959597 solid;
		float: left;
		margin: 0 20px 15px 0;
		-webkit-border-radius: 5px;
	}
	
	.pm_thumbnail img {
		display: block;
		-webkit-border-radius: 5px;
	}